*{    
font-family: monospace;
}
body{
    background-color: #121212;
    margin: 0;
}

input[type=text]{
    width: 70%;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
    border: 1px solid grey;
}
h1,p{
    color: #E8E6E3;
    text-align: center;
}
td,th{
    color: #E8E6E3;
    font-size: 16.8px;
    text-align: center;
}
table,th,td{
    border: 1px solid white;
    border-collapse: collapse;
}
input[type=submit]{
    background-color: #FF0000;
    width: 25%;
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    color: white;
    border-style: none;
}
.main_content{
    height: 70vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-right: 5vh;
    margin-left: 5vh;
    display: block;
    border-radius: 20px;
    padding: 1em;
    width: auto;
    text-align: center;
    background-color: #121212;
}
ul{
    list-style-position: inside;
    color: #E8E6E3;
}
.navbar {
    position: absolute;
    display: flex;
    z-index: 2;
    flex-direction: row;
    width: 100%;
    left: 0;
    background: #333;
    color: #fff;

  }
  .toplmt{
  text-align: center;
    vertical-align: middle;
    line-height: 40px;
    position: relative;
    height: 35px;
    border-right: 1px solid white;
    width: 150px;
    display: inline-table;
    font-size: 15px;
  }
  .toplmt:hover{
      background-color: red;
  }
  .toplmt a{
      text-decoration: none;
  }

